body {
	background: #7F7FD5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(left, #91EAE4, #86A8E7, #7F7FD5);
	background: -o-linear-gradient(left, #91EAE4, #86A8E7, #7F7FD5);
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: "Roboto";
}

#container {
	width: 360px;
	margin: 100px auto;
}

h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	font-weight: normal;
	font-size: 24px;
	text-transform: uppercase;
}

input[type="text"] {
	width: 100%;
	padding: 10px 20px;
	box-sizing: border-box;
	margin: 0;
	background: #f7f7f7;
	color: #75757e;
	border: none;
	font-size: 20px;
	display: none;
}

input[type="text"]:focus {
	background: white;
	outline: none;
	border: solid 3px #2980b9;
	color: #2980b9;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: white;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	width: 100%;
	color: #666;
}

li:nth-child(2n) {
	background: #f7f7f7;
}

.completed {
	color: gray;
	text-decoration: line-through;
}

li span {
	background: #e74c3c;
	color: white;
	width: 0;
	opacity: 0;
	height: 40px;
	text-align: center;
	margin-right: 20px;
	display: inline-block;
	transition: 0.2s linear;
}

li:hover span {
	width: 40px;
	opacity: 1;
}

.fa-plus {
	float: right;
}

.fa-question-circle {
	display: block;
	float: right;
	color: white;
	font-size: 30px;
	margin-top: 100%;
}

#help {
	background: white;
	color: #666;
	padding: 20px;
	display: none;
}

.error {
	padding: 10px;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
}

footer {
	width: 100%;
	
	color: #2980b9;
	background: white;
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
}
a {
	text-decoration: none;
	color: #2980b9;
	font-weight: bold;
	transition: 0.2s linear;
}
a:hover {
	color: #226692;
}