body {
	background: #7F7FD5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(left, #91EAE4, #86A8E7, #7F7FD5);
	background: -o-linear-gradient(left, #91EAE4, #86A8E7, #7F7FD5);
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: "Roboto";
}
#container {
	width: 360px;
	margin: 100px auto;
}
h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 100%
}
input[type="text"] {
	width: 100%;
	padding: 10px 20px;
	box-sizing: border-box;
	margin: 0;
	background: #f7f7f7;
	color: #75757e;
	border: none;
	font-size: 24px;
}
input[type="text"]:focus {
	background: white;
}
ul {
	list-style: none;
}
.completed {
	color: gray;
	text-decoration: line-through;
}